@import "tailwindcss";

@theme {
    --font-outfit: var(--font-outfit);

    /* Yellow/Cream Colors */
    --color-yellow-light: #feefdd;
    --color-yellow-lighter: #fddeb9;
    --color-yellow-dark: #945812;
    --color-yellow-darker: #b96e17;
    --color-yellow-darkest: #6f420d;
    --color-yellow-darkest-active: #56330b;
    --color-yellow-light-hover: #feefdd;
    --color-yellow-lighter-active: #fddeb9;
    --color-yellow-normal-active: #c67618;

    /* Green Colors */
    --color-green-light: #e6f4ec;
    --color-green-normal: #009245;
    --color-green-normal-hover: #00833e;

    /* Red Colors */
    --color-red-light: #f9e9ea;
    --color-red-normal: #c1272d;
    --color-red-normal-hover: #ae2329;
    --color-red-dark-hover: #593034;
    --color-red-light-active: #ecbcbe;

    --color-dark-slate-cyan: #1b3337;
}

* {
    font-family: var(--font-outfit);
}
.container-box {
    @apply max-w-7xl mx-auto w-full px-4 sm:px-6 xl:px-0;
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
